html {
    height: 100%;
}

body {
    height: 100%;

    font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    color: #666666;
    -webkit-font-smoothing: antialiased;

    background: #D9E6F5;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #336799 0%, #66cdcc 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #336799), color-stop(100%, #D9E6F5));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #336799 0%, #66cdcc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #336799 0%, #66cdcc 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #336799 0%, #66cdcc 100%);
    /* IE10+ */
    background: linear-gradient(-45deg, #336799 0%, #D9E6F5 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#336799, endColorstr=#66cdcc, GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #aaaaaa;
}

.section-heading {
    text-align: center;
    margin: 10em 0;
}

.section-heading .logo h1 {
    color: #555;
    font-size: 50px;
    font-weight: 300;
}

/* footer section */

footer {
    padding: 80px 0;
    text-align: center;
}

footer a > img {
    width: 100px;
}

footer .social {
    display: block;
    margin-top: 30px;
}

footer .social a {
    margin: 0 8px;
    padding: 15px;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.25s ease-in-out;
}

footer .social a i {
    width: 1em;
}

footer .social a {
    border: 2px solid #ffffff;
}

footer .social a i {
    color: #ffffff;
}

footer .social a:hover {
    background: #ffffff;
}

footer .social a:hover i {
    color: #66cdcc;
}

footer .rights {
    color: #333;
    margin-top: 20px;
}

footer .rights a {
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
}
